<h1>Welcome to Matthew's Trove of Wonderous Tales!</h1>
<h2>Classic Stories to Delight Young and Old, Large and Small, Dim and Curious</h2>

<h3>Local Stories to Choose From:</h3>
<% @adventure.each do |t| %>
    <ul>
        <li><%= t.title %></li>
    </ul>
<% end %>

<h3>Stories From Other Repositories</h3>
<% @libraries.each do |links| %>
    <ul>
        <li><%= link_to links.url %></li>
    </ul><br>
<% end %>

<%= form_for @library do |lib| %>
    <%= lib.text_field :url, placeholder: "Input URL" %>
    <%= lib.submit %>
<% end %>