<%= form_for @adventure do |f| %>
<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title,  placeholder: "title of adventure" %><br/>

  <%= f.label :author %><br/>
  <%= f.text_field :author, placeholder: "author" %>
 <!--  <% @adventure["guid"]#= SecureRandom.urlsafe_base64(10) %> -->
</p>
 <%= f.fields_for :pages do |builder| %>
 <%= render "page_fields", :f => builder %>
 <% end %>
 <p><%= f.submit "Create adventure",class: "btn btn-lg btn-primary" %></p>
 <% end %>

