<div class="pages_form">
<h2>Add pages to your adventure</h2>
<p>
  <small>You need a minimum of two pages: <br/>
  One with the name <strong>start</strong><br/>
  and one with the name <strong>end</strong><br/>

  To link a page to the next page,  
  put the <em>text to link to the next page</em> and the <em>name of the next page</em> in double brackets, the following way:<br/>
  <strong><span class="red">[[</span>text_to_be_the_link<span class="red">|</span>name_of_next_page<span class="red">]]</span></strong></br>
  The last page does't have a link to any page.</small>
  </p>
  ===============================
  <p><h4>First page</h4>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "start"%><br/>
  <%= f.label :text %><br/>
  <%= f.text_area :text, :rows => 5, :cols => 50,placeholder: "text" %><br/>
</p>
====================================
 <p><h4>Last page</h4>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "end"%><br/>
  <%= f.label :text %><br/>
  <%= f.text_area :text, :rows => 5, :cols => 50,placeholder: "text" %><br/>
</p>


  
