<h2> Edit your adventure: </h2>

<%= form_for @adventure do |f| %>
  <%= f.text_field :title %><br>
  <%= f.text_field :author %><br><br>
  <%= f.submit %>
<%end%>
<br>
<a href="/adventures">see all adventures</a><br>
<a href="/adventures/<%=@adventure.id%>">back to adventure</a><br>
<a href="/adventures/new">create a new adventure</a><br>