<h3>ADVENTURE INDEX</h3>

<% if @local_adventures.size > 0 %>
  <% @local_adventures.each do |adventure| %>
    <div>
      <a href="/adventures/<%= adventure.id %>"><%= 
      adventure.title %>, by <%= adventure.author %></a>
    </div>
  <% end %>
<% end %>

<% if @foreign_adventures.size > 0 %>
  <% @foreign_adventures.each do |adventure| %>
    <div>
      <a href="/adventures/<%= adventure.id %>"><%= 
      adventure.title %>, by <%= adventure.author 
      %>, from <%= adventure.library.url  %><%unless adventure.library.url %></a>
    </div>
  <% end %>
<% end %>