<h1>All of Sylvie's Adventure </h1>
<div class="container center"><% @my_adventures.each do |adventure| %>
 <% first_page = adventure.pages.find_by(name: "start") %>


  <%= link_to adventure.title, adventure_page_path(adventure.id, first_page.id)%>
  <p>Author:<%= adventure.author %><br/><br/>
   <%= link_to "Edit Adventure", edit_adventure_path(adventure.id), class: 'btn btn-default btn-xs' %>
    <%= link_to "Delete Adventure", adventure, method: :delete, class: 'btn btn-default btn-xs' %><br/>
  </p>
  -------------<br/> 

  <% end %>

  <h1>Other Friends' Adventures</h1>
  <% if !@friends_adventures.empty? %>
  <% @friends_adventures.each do |adventure| %>
 <% first_page = adventure.pages.find_by(name: "start") %>


  <%= link_to adventure.title, adventure_page_path(adventure.id, first_page.id)%>
  <p>Author:<%= adventure.author %><br/><%= link_to "Edit Adventure", edit_adventure_path(adventure.id), class: 'btn btn-default btn-xs' %> <%= link_to "Delete Adventure", adventure, method: :delete, class: 'btn btn-default btn-xs' %><br/>
  </p>
  -------------<br/> 

  <% end %>
  <% end %>
</div>


  




