<h3>ADVENTURE INDEX</h3>

<% unless @local_adventures.empty? %>
  <% @local_adventures.each do |adventure| %>
    <div>
      <a href="/adventures/<%= adventure.id %>"><%= 
      adventure.title %>, by <%= adventure.author %></a>
    </div>
  <% end %>
<% end %>

<% unless @foreign_adventures.empty? %>
  <% @foreign_adventures.each do |adventure| %>
    <div>
      <a href="/adventures/<%= adventure.id %>"><%= adventure.title %>, by <%= adventure.author %></a>
    </div>
  <% end %>
<% end %>