<h1> Stephen's Adventure Page </h1>

<p style="color:green"><%= flash[:success] %></p>

<%= button_to "Craft A New Adventure", new_adventure_path, method: :get %>

<h3> Adventures </h3>
<% @all_adventures.each do |adventure| %>
  <%= link_to adventure.title, adventure_path(adventure.id), method: :get %> - 
  by <%= adventure.author%> - 
  <%= link_to "Add Page", new_adventure_page_path(adventure.id) %>
</br>
<% end %>
</br></br></br>