<h1>Create your own adventure!</h1>
 
<%= form_for @adventure do |f| %>
  
  <%= f.text_field :author, placeholder: "Author" %><br>
  
  <%= f.text_field :title, placeholder: "Title" %><br>
  
  <%= form_for (@pages, :text {action: "create"}) %>
  <%= f.submit %>
  
  <% end %>