<h1>Create your own adventure!</h1>
 
<%= form_for @adventure do |f| %>
  
  <%= f.text_field :author, placeholder: "Author" %><br>
  
  <%= f.text_field :title, placeholder: "Title" %><br>
  
  <%= fields_for @adventure.page do |x| %>

  <%= x.text_field :name, placeholder: "Name" %><br>

  <%= x.field_label :text %><br>
  <%= x.text_area :text %>

  <% end %>

  <%= f.submit %>
  
  <% end %>