<div class="header">
  <h1>Add a new adventure</h1>
</div>

<div>
  <%= form_for @adventure do |f| %>
    
    <%= f.text_field :title, placeholder: "Title", class: "form-control", required: true, autofocus: true %>
    <%= f.text_field :author, placeholder: "Author", class: "form-control", required: true %>
    
    <h3>Your first page</h3>
    
    <%= f.fields_for :pages, @adventure.pages.build do |b| %>
      <%= b.text_field :name, value: "Start", disabled: true, class: "form-control", required: true %>
      <%= b.text_area :text, placeholder: "Write your story here", class: "form-control" %>
    <% end %>
    
    <%= f.submit class: "btn btn-success btn-lg" %>
  <% end %>
</div>