<h1>Adventures#new</h1>
<p>Find me in app/views/adventures/new.html.erb</p>
<%= form_for @adventure do |f| %>
<%= f.text_area(:title, placeholder: "Title")%><br>
<%= f.text_field(:author, placeholder: "Author") %><br>
<%= f.fields_for(:page, @adventure.pages.build) do |p| %><br>
<%= p.text_field(:name, placeholder: "Page Name") %><br>
<%= p.text_area(:text, placeholder: "Page Text") %><br>

<% end %>
<%= f.submit %>
<% end %>
