<h1>Make a New Adventure</h1>
<%=form_for @adventure do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p><%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
  <%= f.fields_for :pages, @adventure.pages.build do |b|%>
    <p>
      <%= b.label :name  %><br>
      <%= b.text_field :name, placeholder: "Page Name"%>
    </p>
    <p>
      <%= b.label :text %><br>
      <%= b.text_area :text, placeholder: "Page Text" %>
    </p>
  <% end %>
  <%= f.submit "Create Adventure" %>
<% end %>
