<h1>Make a New Adventure</h1>
<%=form_for(@adventure) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p><%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>
  <%= f.fields_for :page, @adventure.pages.build do |ff|%>
    <p>
      <%= ff.label :name  %><br>
      <%= ff.text_field :name, placeholder: "Page Name"%>
    </p>
    <p>
      <%= ff.label :text %><br>
      <%= ff.text_area :text, placeholder: "Page Text" %>
    </p>
  <% end %>
  <%= f.submit "Create Adventure" %>
<% end %>
