<h3><%= @adventure.title %><br>by <%= @adventure.author %></h3>
guid: <%= @adventure.guid %><br><br>
<a href="<%=@adventure.id%>/edit">edit this story</a><br><br>
<% start_page = @adventure.pages.first %>
<%= start_page.name %><br>
<%= start_page.text %><br>
<%= button_to 'delete', "#{@adventure.id}", :method => :delete%><br>
<a href="/adventures">see all adventures</a><br>
<a href="/adventures/new">create a new adventure</a><br>