<h1><%= @adventure.title %></h1>
<h3>by <%= @adventure.author %></h3>

<%= link_to "Edit Adventure", edit_adventure_path %>
<%= link_to "Delete Adventure", @adventure, method: :delete %>


<h3><%= link_to "Start Adventure", adventure_page_path(@adventure, @adventure.pages("name"))  %></h3>