<h1><%= @adventure.title %></h1>
<h3>by <%= @adventure.author %></h3>

<%= link_to "Edit Adventure", edit_adventure_path %><br>
<%= link_to "Delete Adventure", @adventure, method: :delete %><br>
<h2><%= link_to "Start Adventure", adventure_page_path(@adventure, @first_page) %></h2>


