<div class="header">
    <h1><%= @adv.title %></h1>
  </div>

<div class="header">
  <h3>Edit this page</h3>
</div>

<div>
  <%= form_for [@adv, @page] do |f| %>
    <% if @page.name == "start" %>

      <%= f.text_field :name, value: "start", readonly: true, class: "form-control" %><br />
      <%= f.text_area :text, placeholder: "Write your page", autofocus: true, class: "form-control" %><br />

    <% else %>

      <%= f.text_field :name, placeholder: "Page name", autofocus: true, class: "form-control", required: true %>
      <%= f.text_area :text, placeholder: "Write your page", class: "form-control" %>

    <% end %>

    <%= f.submit class: "btn btn-success btn-lg" %>

<% end %>
</div>
