<h1>Edit Adventure Pages</h1>

<% @pages.each do |page| %>

  <h2><a href="/adventures/<%= page.adventure.id %>/pages/<%= page.id %>"><li><%= page.name %>
  <button><a href="/adventures/<%= page.adventure.id %>/pages/<%= page.id %>/edit/">Edit this page</a></button>
  </li></a></h2>

<% end %>

<a href="pages/new">New Page</a>