<h1><%= @adventure.title %> </h1>
<br>
<p><%= @adventure.author %> </p>

<br>

Add A New Page
<%= form_for [@adventure, @adventure.pages.build] do |f| %>
  <%= f.text_field :name, placeholder: "name" %><br>
  <%= f.text_area :text, placeholder: "Text" %>
  <%= f.submit %>
  <% end %>
