<h1>Pages#new</h1>
<p>Find me in app/views/pages/new.html.erb</p>

<div>
  <h3> title: <%= @adventure.title %></h3>
  <h4> by: <%= @adventure.author %> </h4>
</div>

<div>
	
  <%= form_for @page, url: adventure_pages_path(@adventure.id) do |f| %>
    <%= f.text_field :name, placeholder: "page name" %>
    < br />
    <%= f.text_field :text, placeholder: "add to your story here" %>
    < br />
    <%= f.submit class: 'btn btn-default' %>
  <% end %>


</div>