pages/new.html.erb

<div>

<%= @adventure.title %>

<%= form_for [@adventure, @page] do |f| %>
  <%= f.text_field :name, placeholder: "name" %>
  <%= f.text_area :text, placeholder: "text" %>
  <%= f.submit %>

  <%#= link_to "add new pages", new_adventure_page_path(@adventure) %>
<% end %>

<%= link_to "back to adventures", adventures_path %>

</div>