<h3>NEW PAGE FOR: <%= @adventure.title %></h3>

<div>
  <%= form_for [@adventure, @page] do |f| %>
    <%= f.text_field :name, placeholder: :name %><br>
    <%= f.text_field :text, placeholder: "add your page text here" %><br>
    <%= f.submit %>
  <% end %>
</div>