  <div class="header">
    <%= link_to "<< Index", adventure_pages_path %>
    <h1><%= @adv.title %></h1>
    <ul>
      <li><%= link_to "Edit title", edit_adventure_path(@adv.id), 
              class: "btn btn-success btn-xs" %></li>
      <li><%= link_to "Add page", new_adventure_page_path(@adv.id), class: "btn btn-primary btn-xs btn-manage" %></li>
    </ul>
  </div>
  
  <div class="header">
    <h2><%= @page.name %></h2>
    <ul>
      <li><%= link_to "Edit page", edit_adventure_page_path(@adv.id, @page.id), class: "btn btn-success btn-xs" %></li>
      <li><%= link_to "Delete page", adventure_page_path(@adv.id, @page.id), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger btn-xs" %></li>
    </ul>
  </div>

  <div class="jumbotron">
    <p><%= linkify_page(@page).html_safe %></p>
  </div>
