<!DOCTYPE html>
<html>
<head>
  <title>AdventureLibrary</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= javascript_include_tag "google", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
